<section class="user_card">
    <div class="user_input">
        <input type="text" name="id" [(ngModel)]="id" (keyup.enter)="cargarUsuario()" placeholder="Introduzca ID" />
    </div>
    <!--Si existen los datos se imprimen, en caso contrario no se imprime nada-->
    <div class="user_container" *ngIf="datosTotales">
        <div class="user_imagen">
            <img src={{datosTotales.avatar}} alt="" width="200" height="200" className="img-fluid" id="imagen">
        </div>
        <div class="user_data">
            <div class="user_id">
                <h5>ID: {{datosTotales.id}}</h5>
            </div>
            <div class="user_name">
                <h2>FIRST NAME: {{datosTotales.nombre}}</h2>
            </div>
            <div class="user_apellidos">
                <h2>LAST NAME: {{datosTotales.apellidos}}</h2>
            </div>
        </div>
    </div>
</section>