
<div class="dbz_row">
    <div class="dbz_title">
        <h1>Dragon Ball Z</h1>
    </div>
    <hr>
    <div class="dbz_container">
        <div class="col">
            <!--Se pasa por props listado y se llama al componente hijo app-personajes-->
            <app-personajes>
            </app-personajes>
        </div>
        <div class="col">
            <app-agregar-datos 
                [nuevo]="nuevo"
                
            ></app-agregar-datos>
        </div>
    </div>
    
</div>
