

<div>
  <div>
      <app-contador></app-contador>
  </div>
  <hr/>
  <div>
    <app-heroe></app-heroe>
  </div>
  <hr/>
  <div>
    <app-listado></app-listado>
  </div>
  <hr/>
  <div>
    <app-dbz></app-dbz>
  </div>
  <hr/>
  <div>
    <app-giff-app></app-giff-app>
  </div>
  <hr/>
  <div>
    <app-user-component></app-user-component>
  </div>
  <hr/>
  <app-identificar></app-identificar>
  <hr/>
  <div>
    <!--navBar de rutas del ejercicio 8-->
    <nav class="nav">
      <div class="items">
        <a [routerLink]="['/']">Home</a>
      </div>
      <div class="items">
        <a [routerLink]="['nosotros']">Sobre Nosotros</a>
      </div>
      <div class="items">
        <a [routerLink]="['contacto']">Contacto</a>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>

