body{
    text-align: center;
}
.heroes_container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
.heroes_title{
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
}
.espaciador{
    padding: 20px;
}
#heroes_button{
    display: flex;
    flex-direction: row;
    align-items: center;

}