<div class="container-fluid" id="contador_container">
    <div class="contador_title">
        <h1>Contador</h1>
    </div>
    <div class="contador_count">
        <h3>{{contador}}</h3>
    </div>
    <div class="contador_increment">
        <button class="btn btn-danger" (click)="increment(2)">+2</button>
    </div>
    <div class="contador_decrement">
        <button class="btn btn-danger" (click)="decrement(2)">-2</button>
    </div>
    <div class="contador_reset">
        <button class="btn btn-danger" (click)="resetValue()">Reset</button>
    </div>
</div>
